.colinnner_val {
    background: #6307ff;
    padding: 1rem 1rem;
    text-align: c;
    text-align: center;
    border-radius: 5px;

}

.colinnner_cs  {
    background: orange;
    padding: 1rem 1rem;
    text-align: c;
    text-align: center;
    border-radius: 5px;


}

.colinnner_fifa {
    background: blue;
    padding: 1rem 1rem;
    text-align: c;
    text-align: center;
    border-radius: 5px;

}

.colinnner_dot {
    background: brown;
    padding: 1rem 1rem;
    text-align: c;
    text-align: center;
    border-radius: 5px;

}