@import 'bulma/css/bulma.css';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url(https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-repeat: round;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(117 91 117 / 59%);
  background-blend-mode: color-burn;
}


.scoreBox {
  background: #000;
  padding: 10%;

  margin: 1%;

  /* border-radius: 8px; */
  border-bottom: 3px solid #722ed1;
  color: #fff !important;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}
h3.CardTitle {
  color: #722ed1;
  /* text-shadow: 2px 2px 2px rgb(50 43 43 / 93%); */
  font-size: 13px;
  white-space: nowrap;
}
a {
  color: #722ed1;
}

.inner {
  color: #000;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  background: rgb(255 255 255 / 27%);
  box-shadow: 0 8px 32px 0 rgb(10 11 14 / 66%);
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 7px;
}

h2.CardTitle {
  font-weight: 400;
  color: rgb(135 10 239 / 75%);
  /* text-shadow: 3px 1px 0px rgb(66 19 82 / 70%); */
  padding: 1rem;
  white-space: nowrap;
  word-break: keep-all;
  margin-top: 0%;
  margin-bottom: 0%;
}

a.h2link {
  color: #fff;
  transition: ease-in 0.3s opacity;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #ffe08a,
    #f14668 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s ease-in-out;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
a2.h2link:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.dark {
  background: rgb(28 27 27 / 66%);
  padding: 1rem;
  padding: 1.5rem;
  line-height: 0;
  opacity: 0.7;
  transition: cubic-bezier(1, -0.51, 0.36, 1) 0.22s opacity;
  cursor: pointer;
  color: #fff;
}

.dark.alt {
  background: rgb(4 3 3);
  opacity: 0.8;
  transition: cubic-bezier(1, -0.51, 0.36, 1) 0.22s opacity;
  cursor: pointer;
  color: #fff;
}

.dark:hover {
  opacity: 1;
  /* border-bottom: 1px solid white; */
}

button.stream_btn {
  background: transparent;
  border: 1px solid #8800ff;
  padding: 1%;
  cursor: pointer;
  opacity: 0.7;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 12px;
  transition: ease 0.6s opacity;
}

button.stream_btn.is-pulled-left {
  opacity: 1;
  cursor: pointer;
  border: 1px solid #daf93c;
  border-top: 0px;
  border-left: 0px;
}
button.stream_btn:hover {
  opacity: 1;
}

.cardBody {
  margin-top: 5rem;
}

.uk-height-1-1 {
  min-height: 100%;
  /* max-height: fit-content; */
}

button.uk-button.menu_but.is-pulled-right {
  background: transparent;
  color: rgb(255 255 255 / 79%);
  font-size: 2rem;
  margin-top: 2%;
  transition: ease 0.5s opacity;
  opacity: 0.6;
}


.uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
   text-decoration: none; 
}

a.h2link:hover {
  background-position: 0;
 }
 
 a.h2link:hover::before {
   width:100%;
 }

button.uk-button.menu_but.is-pulled-right:hover {
  opacity: 1;
}

.flex.is-flex.is-flex-direction-row.is-flex-wrap-nowrap {
  align-items: center;
  justify-content: space-between;
  margin-left: 0%;
  margin-right: 3%;
  padding: 4%;
}

h2.h2__whiteuk-text-large {
  color: #fff;
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;
  text-shadow: 0px 3px 3px #000;
}

.inner__box {
  padding: 1rem;
  margin-top: 1%;
}

span.is-pulled-right.tag.is-danger {
  margin-right: 2%;
  font-weight: 600;
  text-transform: uppercase;
}


a {
  color: #fff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  padding: 2%;
  /* color: #fff !important; */
}

.inner-box {
  text-align: center;
  margin-top: 5% !important;
  width: 80%;
  margin: 0 auto;
}

.team {
  color: #fff;
  text-align: left;
  padding: 1%;
}

span.team {
  float: left;
}
span.scores {
  float: right;
  padding: 1%;
  color: #fff;
}

.score-board-min.columns {
  background: rgb(113 106 106 / 65%);
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 10px;
  margin-top: 8%;
}


