.scoreboards {
    display: flex;
    justify-items: center;
    color: #fff;
    margin-bottom: 3rem;
    background: rgb(0 0 0 / 63%);
    padding: 1rem;
    border-radius: 8px;
   
    justify-content: space-between;

}
img.team-img.is-rounded {
    max-height: 10vh;
    margin-bottom: 2rem;
    width: 60px;
}

figure.immage-box {
    width: max-content;
    text-align: center;
}

.scoresrn {
    align-self: center;
    font-size: 7vh;
    font-weight: 800;
    text-shadow: 2px 9px 8px rgb(0 0 0 / 85%);
    
}


.opponentBoard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.innerteam_cont {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

p.score-big, span.score-big {
    font-weight: bold;
    color: magenta;
}